* {
  font-family: "Roboto", sans-serif;
}

/* Styiling Header and nav bar */
.header_nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 2;
}

.head_container {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo_nav {
  width: 268px;
  height: 33px;
}

.logo_nav:hover {
  cursor: pointer;
}

nav {
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  display: flex;
}

.link_nav {
  text-decoration: none;
  color: #ababab;
  padding: 0px 9px;
}

.first_link {
  color: #00b39b;
}

.link_nav:hover {
  color: #00b39b;
  cursor: pointer;
}

/* Dropdown Menu */

.link_dropdown {
  text-decoration: none;
  color: #ababab;
  line-height: 120%;
  padding: 12px 16px;
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  width: 240px;
  background: #fff;
  box-shadow: 0 5px 10px 0 #d3cfc9;
  right: 2px;
  top: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content a:hover {
  background-color: #f6f8f8;
}

/* Styiling Section 1 Heading */
.head_section {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.logo_header {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 34px;
  font-family: "Work Sans", Arial, sans-serif;
  color: #00b39b;
  font-weight: 300;
  text-align: center;
  margin: 16px 0px;
}

.two_paragraphs {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.paragraph_header {
  margin: 13px 0;
  font-weight: 400;
  color: #747474;
  font-size: 16px;
  line-height: 1.75;
  padding: 10px;
}

/* Styling Section 2 with Flexbox: Cards section */

.card_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px; /*Space between rows and columns in flex*/
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 10px;
}

.card_one {
  display: flex;
  flex-direction: column;
  background-color: #00ccb1;
  border-radius: 10px;
  height: 345px;
  width: 33%;
}

.card_two {
  display: flex;
  flex-direction: column;
  background-color: #3d83df;
  border-radius: 10px;
  height: 345px;
  width: 33%;
}

.card_three {
  display: flex;
  flex-direction: column;
  background-color: #1b2734;
  border-radius: 10px;
  height: 345px;
  width: 33%;
}

.cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-size: 26px;
  font-family: "Work Sans", Arial, sans-serif;
  margin: 8px 0px;
  font-weight: 400;
  color: #fff;
}

.par_card {
  font-size: 24px;
  font-family: "Work Sans", Arial, sans-serif;
  margin: 8px 0px;
  font-weight: 300;
  color: #fff;
}

.selections {
  border: 0;
  background-color: transparent;
  color: #fff;
  text-decoration: underline;
  margin-bottom: 30px;
  padding-left: 30px;
}

.main_selections {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.main_card {
  padding: 32px 32px 32px 32px;
}

.selections_one {
  border: 0;
  background-color: transparent;
  color: #fff;
  text-decoration: underline;
  margin-bottom: 10px;
  padding-left: 30px;
}

option {
  color: #333;
  font-size: 16px;
}

/* Section 3 : Logos and Heading styling */

.logos_title {
  font-size: 26px;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  color: #00b39b;
  padding-right: 30px;
  margin: 9px 0px;
  width: 30%;
}

.logo_section {
  display: flex;
  flex-direction: row;
  width: 66%;
  margin: 50px auto;
}

/* Section 3 : Logo styling with grid */

li {
  list-style-type: none;
}

.logos {
  width: 130px;
  height: 30px;
  padding: 0px 0 5px 5px;
  align-items: center;
}

.logos:hover {
  cursor: pointer;
}

.logos_half {
  width: 82px;
  height: 50px;
}

.logos_half:hover {
  cursor: pointer;
}

.logos_list {
  width: 70%;
  height: 170px;
  display: grid;
  grid-template-columns: 25% 25% 25% 12.5% 12.5%;
}

.logo1 {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 25%;
  align-self: center;
}
.logo2 {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 25%;
  align-self: center;
}
.logo3 {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 25%;
  align-self: center;
}
.logo4 {
  grid-column-start: 4;
  grid-column-end: 6;
  width: 25%;
  align-self: center;
}
.logo5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 25%;
  align-self: center;
}
.logo6 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 25%;
  align-self: center;
}
.logo7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 25%;
  align-self: center;
}
.logo8 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 12.5%;
  align-self: center;
}
.logo9 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 12.5%;
  align-self: center;
}
.logo10 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 25%;
  align-self: center;
}

/* Section 4 : Statistics styling */

.statistics_section {
  background-color: #e5faf8;
  margin-top: 50px;
  margin-bottom: 90px;
  height: 630px;
}

.main_statistics_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.heading_statistics {
  font-size: 34px;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  color: #00b39b;
  padding-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.parag_statistics {
  font-size: 15px;
  font-family: "Work Sans", Arial, sans-serif;
  color: #747474;
  margin-top: 23px;
  margin-bottom: 23px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.left_statistics {
  padding-top: 60px;
  position: relative;
}

.logo_statistics {
  width: 451px;
  height: 330px;
  position: absolute;
  top: 270px;
  right: 40px;
  margin-top: 30px;
}

h3 {
  font-size: 24px;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  color: #00b39b;
  margin-top: 12px;
  margin-bottom: 12px;
}

.card_stats {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #747474;
}

.right_statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 500px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}

.left_side_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.card_statisics {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  min-height: 225px;
  border-radius: 2px;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
}

.right_side_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
  margin-top: 20px;
}

/* Section 5 styling */

.section_five {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 30px;
}

.header_sec_five {
  font-size: 30px;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  color: #00b39b;
  text-align: center;
  line-height: 40px;
}

.par_sec_five {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #747474;
  text-align: center;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Section 6 : Countries Styling */

.country_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 66%;
  gap: 20px; /*Space between rows and columns in flex*/
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 30px; */
  margin-bottom: 40px;
  padding: 10px;
}

.country {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 310px;
  border: solid 1px transparent;
  border-radius: 3%;
  background-color: #fff;
  margin-bottom: 30px;
  margin-top: 10px;
}

.country:hover {
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.13);
  cursor: pointer;
}

.text_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #fff;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.03);
}

.button_country {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 10px;
  color: #fff;
  font-weight: 700;
  background-color: #3d83df;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  height: 30px;
}

.button_country:hover {
  cursor: pointer;
  background: #1662c6;
}

.par_countries {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 18px;
  color: #747474;
}

/* Section 7 : Join us Styling */

.join_us {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.header_join {
  color: #333;
  font-size: 30px;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 22px;
}

.but_join {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 10px;
  color: #fff;
  font-weight: 700;
  background-color: #3d83df;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  height: 40px;
  width: 210px;
  text-align: center;
}

.but_join:hover {
  cursor: pointer;
  background: #1662c6;
}

/* Footer Styling */

footer {
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1px #eef2f2;
  text-align: center;
  padding: 16px 0;
}

.p_footer {
  color: #ababab;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.link_footer {
  text-decoration: none;
}
